/******************************  TAG SELECTORS  ********************************/
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #00adb5;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #00adb5;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
  text-align: center;
}

h3 {
  color: #eeeeee;
  font-family: 'Montserrat', sans-serif;
}

div {
  background-color: #222831;
}

p {
  color: #eeeeee;
  line-height: 2;
}

hr {
  border: dotted #3282b8 6px;
  border-bottom: none;
  width: 4%;
  margin: 50px auto;
}

a {
  color: #3282b8;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

/* psuedo classes */
a:hover {
  color: #eeeeee;
}

/******************************  CLASS SELECTORS  ******************************/
.top-container {
  position: relative;
  padding-top: 50px;
}

.middle-container {
  padding-top: 100px;
}

.bottom-container {
  padding: 50px 0 20px;
}

.pro {
  text-decoration: underline;
}

.idea-img {
  width: 800px;
  height: 500px;
  margin-top: 50px;
}

.profile-img {}

.profile {
  width: 50%;
  margin: auto;
  text-align: left;
  line-height: 2;
  padding-bottom: 50px;
}

.intro {
  margin: auto;
}

.skill-row {
  width: 50%;
  margin: 75px auto 75px auto;
  text-align: left;
}

.skills-image-left {
  width: 200px;
  height: 200px;
  float: left;
  padding-right: 50px;
}

.skills-image-right {
  width: 200px;
  height: 200px;
  float: right;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #3D94F6;
  background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: linear-gradient(to bottom, #3D94F6, #1E62D0);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding: 15px;
  box-shadow: 1px 1px 20px 0px #000000;
  -webkit-box-shadow: 1px 1px 20px 0px #000000;
  -moz-box-shadow: 1px 1px 20px 0px #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: solid #337FED 1px;
  background: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

.copyright {
  color: #eeeeee;
  font-size: 0.75rem;
  padding: 20px 0;
}

/******************************  ID SELECTORS  *********************************/
#mainheading {
  color: #00adb5;
}
