/******************************  TAG SELECTORS  ********************************/
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #00adb5;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
}

h2 {
  color: #00adb5;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
}

h3 {
  color: #eeeeee;
  font-family: 'Montserrat', sans-serif;
}

div {
  background-color: #222831;
}

p {
  color: #eeeeee;
}

/******************************  CLASS SELECTORS  ******************************/
.top-container {
  background-color: #222831;
  position: relative;
  padding-top: 10px;
  padding-bottom: 300px;
}

.middle-container {
  padding-top: 25px;
  margin: auto;
  position: relative;
}

.bottom-container {}

.profile {
  width: 50%;
  margin: auto;
  text-align: left;
  line-height: 2;
  padding-bottom: 50px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.pro {
  text-decoration: underline;
}

.profile-img {
  margin: auto;
}

.idea-img {
  width: 800px;
  height: 400px;
  padding-top:50px;
}

.skills-image {
  width: 25%;
  float: left;
  padding-right: 20px;
}

/******************************  ID SELECTORS  *********************************/
#mainheading {
  color: #00adb5;
}
