/******************************  TAG SELECTORS  ********************************/

body {
  margin: 0;
}

h1 {
  color: #00adb5;
  margin-top: 0;
}

div {
  background-color: #222831;
}

p {
  color: #eeeeee;
}

/******************************  CLASS SELECTORS  ******************************/

.darktheme {
  background-color: #222831;
}

.lighttheme {
  background-color:  #eeeeee;
}


/******************************  ID SELECTORS  *********************************/

#mainheading {
  color: #00adb5;
}
